{% extends 'base.html.twig' %}

{% block title %}Ajouter une critique{% endblock %}

{% block body %}

<h1>Ajouter une critique</h1>

{# Rendu du formulaire, tout-en-un via form() #}
{{ form(form, {attr: {class: 'review__form', novalidate: 'novalidate'}}) }}


{% endblock %}
