{% extends "back/base_admin.html.twig" %}

{% block title %}
    Ajouter un film
{% endblock %}

{% block body %}

<h1>Ajouter un film</h1>

{{ include('back/movie/_form.html.twig') }}

{% endblock %}