<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div>oZ'iné</div>
            <form action="{{ path('home') }}">
                <input type="text" name="search" placeholder="Un titre de film" value="{{ app.request.query.get('search') ?? '' }}">
                <button type="submit">Rechercher</button>
                <a href="{{ path('home') }}">Annuler</a>
            </form>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
