{% extends 'front/base.html.twig' %}

{% block title %}Tous les films{% endblock %}

{% block body %}

<h1>Tous les films</h1>

<ul>
    {% for movie in movies %}
    <li><a href="{{ path('movie_show', {id: movie.id}) }}">{{ movie.title }}</a> ({{ movie.releaseDate|date('Y') }})</li>
    {% else %}
    <li>Aucun film trouvé pour <i>{{ app.request.query.get('search') }}</i></li>
    {% endfor %}
</ul>

{% endblock %}
